<div class="homepage-carousel-wrapper">
    <div class="row">
        <!-- <div class="col-md-6 col-sm-7">
            <div class="image-carousel">
                <div class="image-carousel-slide"><img src="assets/img/slide-1.jpg" alt=""></div>
                <div class="image-carousel-slide"><img src="assets/img/slide-2.jpg" alt=""></div>
                <div class="image-carousel-slide"><img src="assets/img/slide-3.jpg" alt=""></div>
            </div>
        </div> -->
        <div class="col-md-12 col-sm-12">
            <header><h1>Events</h1></header>
            <section id="event-search">
                <div class="">
                    <form id="event-search-form" role="form" class="form-inline">
                        <div class="from-row">
                           
                            <div class="form-group" style="width: 100%; padding-bottom: 1%;"> 
                                <input name="full-text" id="full-text" placeholder="Enter Keyword" type="text">
                            </div><!-- /.form-group -->
                        <button type="submit" class="btn pull-right">Search</button>
                        </div>
                    </form><!-- /.form-group -->
                </div><!-- /.search-box -->
            </section><!-- /#event-search -->
        </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
    <div class="background"></div>
</div><!-- /.slider-wrapper -->

<script type="text/javascript" src="assets/js/custom.js"></script>