<section class="events images" id="events">
    <header><h2>Today Events</h2></header>
    <div class="row">
        <div class="col-md-6">
            <div class="latest-course">
                <figure class="image">
                    <div class="image-wrapper"><a href="course-detail-v1.html"><img src="assets/img/course-01.jpg"></a></div>
                </figure>
                <aside class="description">
                    <a href="course-detail-v1.html"><h4>Neuroscience for the Beginners: Complete Course</h4></a>
                    <!--<a href="#" class="course-category">Science</a>-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla</p>
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar-o"></i>01-03-2014</span>
                        <span class="course-length"><i class="fa fa-clock-o"></i>3 months</span>
                        <a href="#">View More</a>
                    </div>
                </aside>
                <hr>
            </div><!-- /.latest-course -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-6">
            <div class="latest-course">
                <figure class="image">
                    <div class="image-wrapper"><a href="course-detail-v1.html"><img src="assets/img/course-03.jpg"></a></div>
                </figure>
                <aside class="description">
                    <a href="course-detail-v1.html"><h4>Character Drawing: Basic and Advanced Principles</h4></a>
                    <!--<a href="#" class="course-category">Science</a>-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla</p>
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar-o"></i>01-03-2014</span>
                        <span class="course-length"><i class="fa fa-clock-o"></i>8 lessons</span>
                        <a href="#">View More</a>
                    </div>
                </aside>
                <hr>
            </div><!-- /.latest-course -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-6">
            <div class="latest-course">
                <figure class="image">
                    <div class="image-wrapper"><a href="course-detail-v1.html"><img src="assets/img/course-03.jpg"></a></div>
                </figure>
                <aside class="description">
                    <a href="course-detail-v1.html"><h4>Character Drawing: Basic and Advanced Principles</h4></a>
                    <!--<a href="#" class="course-category">Science</a>-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla</p>
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar-o"></i>01-03-2014</span>
                        <span class="course-length"><i class="fa fa-clock-o"></i>8 lessons</span>
                        <a href="#">View More</a>
                    </div>
                </aside>
                <hr>
            </div><!-- /.latest-course -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-6">
            <div class="latest-course">
                <figure class="image">
                    <div class="image-wrapper"><a href="course-detail-v1.html"><img src="assets/img/course-03.jpg"></a></div>
                </figure>
                <aside class="description">
                    <a href="course-detail-v1.html"><h4>Character Drawing: Basic and Advanced Principles</h4></a>
                    <!--<a href="#" class="course-category">Science</a>-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla</p>
                    <div class="course-meta">
                        <span class="course-date"><i class="fa fa-calendar-o"></i>01-03-2014</span>
                        <span class="course-length"><i class="fa fa-clock-o"></i>8 lessons</span>
                        <a href="#">View More</a>
                    </div>
                </aside>
                <hr>
            </div><!-- /.latest-course -->
        </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
<!-- /#latest-courses -->
</section><!-- /.events-images -->