<!-- breadcrumb -->
<app-breadcrumb></app-breadcrumb>
<!-- breadcrumb end -->

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Speakers</h1></header>
                        <section id="our-speakers">
                            <header><h2 class="no-divider">Our Speakers</h2></header>
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Claire Doe</a></header>
                                        <figure>Marketing Specialist</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/discussion-author-02.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Rachel Britain</a></header>
                                        <figure>Data Architect</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/discussion-author-03.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">John Doe</a></header>
                                        <figure>Senior Designer</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Claire Doe</a></header>
                                        <figure>Marketing Specialist</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/discussion-author-02.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Rachel Britain</a></header>
                                        <figure>Data Architect</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block course-speaker">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/discussion-author-03.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">John Doe</a></header>
                                        <figure>Senior Designer</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                        </section><!-- /#our-speakers -->

                        <section id="our-staff">
                            <header><h2 class="no-divider">Our Staff</h2></header>
                            <div class="author-block">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/student-testimonial.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Claire Doe</a></header>
                                        <figure>Marketing Specialist</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/discussion-author-02.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">Rachel Britain</a></header>
                                        <figure>Data Architect</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                            <div class="author-block">
                                <a href="member-detail.html"><figure class="author-picture"><img src="assets/img/discussion-author-03.jpg" alt=""></figure></a>
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><a href="member-detail.html">John Doe</a></header>
                                        <figure>Senior Designer</figure>
                                        <p>
                                            Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor.
                                            Ut sollicitudin lectus dolor eget imperdiet libero pulvinar sit amet.
                                        </p>
                                        <a href="member-detail.html" class="btn btn-framed btn-small btn-color-grey">Full Bio</a>
                                    </div>
                                </article>
                            </div><!-- /.author -->
                        </section><!-- /#our-staff -->
                    </section>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->
