<!-- /#featured-courses -->
<section id="featured-courses">
    <div class="block">
        <div class="container">
            <header><h2>Recommended Events</h2></header>
            <div class="row">
                <div class="events images featured">
                    <div class="col-md-3 col-sm-6">
                        <article class="event">
                            <div class="event-thumbnail">
                                <figure class="event-image">
                                    <div class="image-wrapper"><img src="assets/img/course-01.jpg"></div>
                                </figure>
                                <figure class="date">
                                    <div class="month">jan</div>
                                    <div class="day">18</div>
                                </figure>
                            </div>
                            <aside>
                                <header>
                                    <a href="event-detail.html">February Half-Term Activities: Big Stars and Little Secrets </a>
                                </header>
                                <div class="additional-info"><span class="fa fa-map-marker"></span> Faculty of Music</div>
                                <a href="event-detail.html" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                            </aside>
                        </article><!-- /.event -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <article class="event">
                            <div class="event-thumbnail">
                                <figure class="event-image">
                                    <div class="image-wrapper"><img src="assets/img/course-03.jpg"></div>
                                </figure>
                                <figure class="date">
                                    <div class="month">jan</div>
                                    <div class="day">23</div>
                                </figure>
                            </div>
                            <aside>
                                <header>
                                    <a href="event-detail.html">Conservatory Exhibit: The garden of india a country and culture revealed</a>
                                </header>
                                <div class="additional-info"><span class="fa fa-map-marker"></span> Matthaei Botanical Gardens</div>
                                <a href="event-detail.html" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                            </aside>
                        </article><!-- /.event -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <article class="event">
                            <div class="event-thumbnail">
                                <figure class="event-image">
                                    <div class="image-wrapper"><img src="assets/img/course-04.jpg"></div>
                                </figure>
                                <figure class="date">
                                    <div class="month">feb</div>
                                    <div class="day">07</div>
                                </figure>
                            </div>
                            <aside>
                                <header>
                                    <a href="event-detail.html">Museums and the Construction of Identities</a>
                                </header>
                                <div class="additional-info"><span class="fa fa-map-marker"></span> Pitt Rivers and Natural History Museums</div>
                                <a href="event-detail.html" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                            </aside>
                        </article><!-- /.event -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6">
                        <article class="event">
                            <div class="event-thumbnail">
                                <figure class="event-image">
                                    <div class="image-wrapper"><img src="assets/img/course-02.jpg"></div>
                                </figure>
                                <figure class="date">
                                    <div class="month">mar</div>
                                    <div class="day">12</div>
                                </figure>
                            </div>
                            <aside>
                                <header>
                                    <a href="event-detail.html">The Orchestra of the Age of Enlightenment perform with Music</a>
                                </header>
                                <div class="additional-info"><span class="fa fa-map-marker"></span> Faculty of Music</div>
                                <a href="event-detail.html" class="btn btn-framed btn-color-grey btn-small">View Details</a>
                            </aside>
                        </article><!-- /.event -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.events -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="background background-color-grey-background"></div>
    </div><!-- /.block -->
</section>
<!-- /#featured-courses -->